<div>
    
    {{#with main}}
        <main>
            <section>
                  {{>title data='My education' big=true}}                                  
            </section>
            <ul>
                {{#each education}}
                    <li>
                        {{name}}
                        
                        {{#unless isEnd includeZero=true}} (В процесі вивчення) {{/unless}}
                    </li>
                {{/each}}
            </ul>

            <section>                
                    {{> title data='My certificates' big=false}}            
            </section>

            <ul>
                {{#each certificates}}
                <li>
                    
                    {{name}} (ID:{{id}})

                </li>
                {{/each}}
            </ul>
        </main>
    {{/with}}
    
</div>