{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<main>
    <div class="row col-12 g-3 my-4 p-5">
        <h1>About projects</h1>
        <p>Some information about my skills</p>
    </div>

    <div class="row col-12 g-1">
        <div class="col-3 g-2 mx-2 p-3">
            <a href="/skills" class="btn btn-primary col-12">Resume</a>
            <a href="/task22" class="btn btn-primary col-12">Web languages</a>
            <a href="/bio" class="btn btn-primary col-12">Informational pages</a>
            <a href="/facebook" class="btn btn-primary col-12">Social media</a>
            <a href="/task31" class="btn btn-primary col-12">Web cite</a>
            <a href="/shophome" class="btn btn-primary col-12">Shop</a>
        </div>
    </div>
</main>



{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}