<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">
            ID: {{id}} <br>
            Name: {{name}} ({{gender}}), {{age}} years old <br>
        </p>
    </div>
</div>        



