<div class="col-12">
                
    <label class="form-label">{{label}}</label>
    <input class="form-control-lg" placeholder="{{placeholder}}">
    <div class="form-text text">{{caption}}</div>			

</div>