<div class="breadcrumb">
    <nav class="breadcrumb-item">
        {{> link text="Skills"href="/skills" }}
        {{> link text="Summary"href="/summary" }}
        {{> link text="Education"href="/education" }}
        {{> link text="Work"href="/work" }}
    </nav>
</div>
