<div class="row col-12 nav-tabs">
    <div class="nav">
        {{#each tabs}}	
            <div class="nav-item col-4 g-3">
                <button class="btn nav-link {{#if isActive}} active {{/if}}">{{text}}</button>
            </div>
        {{/each}}
    </div>
</div>	



