<div class="form-check">
    <label class="form-check-label">{{type}}</label>
    <input name="payment" type="radio" class="form-check-input">
    <div class="form-text text">{{description}}</div>
</div>