<label class="form-label">{{label}}</label>
<select class="form-select form-select-sm">
    <option selected>
        {{placeholder}}
    </option>
    {{#each options}}
        <option value="{{value}}">
            {{text}}
        </option>
    {{/each}}
</select>	